body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ffbf00, #ff7f0e);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    margin-bottom: 20px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* New shadow effect */
    font-size: 36px;
    font-weight: bold;
}

#items {
    margin-bottom: 20px;
}

.itemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.itemContainer span {
    flex: 1;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    font-weight: bold;
}

.itemContainer input {
    width: 50px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #ff7f0e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #ff934a;
}

.container:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
